body {
	font-family: Georgia;
	background-color:#F3F1ED;
		
}

.nav_bg {
	height: 80px;
	width:100%;
	border-bottom: 1px solid #ddd;
	top: 0px;
	z-index: +2;
	background-color:#F9F9F1;
}

#head{
	margin-top:-110px;
}

.container_12 {
	line-height: 1.4;
	background-color:white;
	white-space:none;
}

#header1 span{
	color:#CF000F;
}

#gal img{
	z-index: -1;
}

a:link {
	text-decoration: none;
}

#header1{
	margin-top:-10px;
}

#header1 h1{
	color:black;
}

#header1 h1{
	font-family:Baskerville Old Face;
	margin-top: 60px;
    margin-bottom: 0px;
    font-size: 45px;

}

.nav_list ul{
	margin-top:90px;
}

.nav_list {
	background-color:white;
	height:30px;
	margin-top:-10px;
}

.nav_list ul li {
	display: inline;
	opacity: 1.0;
	filter: alpha(opacxity=100);
	font-size: 14px;
	margin:30px;
}

.nav_list ul li a{
	font-size:16px;
}

.norm{
	display:inline;
	margin:-4px;
}


.norm:hover{
	text-decoration:underline;
	color:#CF000F;
}

.login:hover{
	text-decoration:underline;
	color:#CF000F;
}

#header{
	margin-bottom:10px;
}

.nav_list a {
	
	color:black;	
}

.nav_list{
	border-bottom:#d3d3d3;
}
 
#shop{
	margin-bottom:20px;
}

#contact .button{
	border-radius:5px;
	margin-left:260px;
}

#contact h3{
	
	font-family:arial;
}

#shop h1{
	margin-top:40px;
	font-family:arial;
}
 
#contact{
	margin-bottom:80px;
	margin-top:20px;
}

#contact2 {
	margin-top:20px;
	background-color:#d3d3d3;
	width:170px;
	text-align:center;
	border-radius:5px 5px;
	color:white;
	height:250px;
}

#contact2 h4{
	margin-top:30px;
	margin-left:50px;
	width:150px;
}

 
.footer_bg{
    height:205px;
    background-color:#222222;	
}


#footertop ul{
	margin-top:30px;
}

#footertop ul li {
    
   
	display: inline;
	opacity: 1.0;
	font-size: 15px;
}

#footertop{
	background-color:#222222;
	width:650px;
	
}

#footerbottom{
	background-color:#222222;
	width:970px;
	height:50px;
	
}

#footertop a {
	margin:50px;
	margin-top:20px;
	color:white;
}

#footertop span{
	font-family:Baskerville Old Face;
	font-size:20px;
}

#footerbottom p{
	color:white;
	font-size:12px;
	margin-top:;
	width:;
	margin:;
}



#footertop a:hover{
	color:red;
	text-decoration:none;
}

#copyright{
	margin-top:40px;
}

#media{
	margin-top:40px;
}

.nav_list ul ul{
	background-color:#F9F9F1;
	border:1px solid #d3d3d3;
	width:240px;
	margin-left:435px;
    margin-top: 1px;
	height:140px;
	border-radius:5px 5px;
	position:relative;
	z-index: +1;
	visibility:hidden;
}

.nav_list ul li:hover ul{
	visibility:visible;
}

#box{
	margin-left: 25px;
    margin-bottom: -25px;
	margin-top:10px;
}

.log p{
	color:red;
	font-size: 14px;
    margin-top: 10px;
}

.log p:hover{
	text-decoration:underline;
}

.log .button
{
	margin-left: 150px;
    border-radius: 5px 5px;
	background:#4B4D52;
	color:white;
	padding:5px 10px 5px 10px;
	border:none;
	
}

.log .button:hover
{
	background:#343539;
}














